header{
    margin:0;
    
    
}

nav{
    padding:0px 20px;
    align-items: center;
    justify-content: space-between;
    margin:0;
    background-color: white;
}

nav, ul{
    display:flex;
    flex-direction: row;
    

}

button{
    background: transparent;
    border:none;
    color:pink;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    display:none
}

.logo{
    color:black;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

ul{
    list-style: none;
    padding: 0;
    overflow:hidden;
    transition: 0.5s;
}

li{
    padding: 10px 20px;
}

li:hover,
button:hover{
    cursor: pointer;
    background-color:pink;
    transition: 0.5s;
}

button:focus ~ ul{
    height: 200px;
}

li a{
    padding:10px 15px;
    text-decoration: none;
    color:black;
    font-size: 20px;
}

h3 a{
    text-decoration: none;

}

@media (max-width:870px) {
    nav, ul{
        flex-direction: column;
        align-items: unset;
    }
    

    ul{
        text-align: center;
        height:0
    }

    nav{
        padding-top: 10px;
    }

    button{
        display: flex;
    }
}

body{
    background-image: url("../Imagens/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}